div {
		height: 150px;
		width: 360px;
		font-size: 35px;
		margin: 10px; 
		display: inline-block;
		}
		.yellow {
		background-color: yellow;
		}
		.roj {
		background-color: red;
		}
		.ama{
		background-color: yellow;
		text-transform: uppercase;
		}