div {
		height: 280%;
		width: 460%;
		font-size: 250%;
		margin: 2%; 
		padding-top: 2%;
		padding-bottom: 2%;
		display: inline;
		}
		.yellow {
		background-color: yellow;
		}
		.roj {
		background-color: red;
		}
		.ama{
		background-color: yellow;
		text-transform: uppercase;
		}